# trained artifacts / data
*.ply
*.pt
*.zip
*.jpg
*.jpeg
*.png
*.md
writeup_content/
prev_runs/
*.pdf

# python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# xcode
*.xcuserstate
xcuserdata/
.DS_Store

# jupyter
.ipynb_checkpoints/
*.ipynb
